Repository litlynx/millennium-bim-call-center: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --, echo 'Skipping CSS/HTML files - no linting configured', echo 'Skipping Markdown files - no linting configured'

fix: correct Biome configuration syntax
  biome.json
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --

fix: update lint-staged configuration to handle file types separately
  .lintstagedrc.json
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --

feat: improve formatting and clarity in deployment guide sections
  biome.json
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --

fix(package): correct command separator in serve:local:start script
  package.json
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --

fix(package): correct command separator in serve:local:start script (#13)
  package.json
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --

[sc-63]: rspack migration (#12)
  .lintstagedrc.json
  .vscode/settings.json
  DEPLOYMENT.md
  apps/shell/package.json
  apps/shell/rsbuild/rsbuild.config.ts
  apps/shell/src/pages/Root/Root.tsx
  apps/shell/webpack/webpack.common.ts
  apps/shell/webpack/webpack.dev.ts
  apps/shell/webpack/webpack.prod.ts
  bun.lock
  millenium-bim-call-center.code-workspace
  package.json
  packages/@config/rsbuild-config/enums.ts
  packages/@config/rsbuild-config/index.ts
  packages/@config/rsbuild-config/module-federation.ts
  packages/@config/rsbuild-config/package.json
  packages/@config/rsbuild-config/plugins/google-fonts-plugin.ts
  packages/@config/rsbuild-config/rsbuild.common.ts
  packages/@config/rsbuild-config/rsbuild.dev.ts
  packages/@config/rsbuild-config/rsbuild.prod.ts
  packages/@config/rsbuild-config/shared-components.d.ts
  packages/@config/rsbuild-config/tsconfig.eslint.json
  packages/@config/rsbuild-config/tsconfig.json
  packages/@config/rsbuild-config/types.ts
  packages/@config/rsbuild-config/utils.ts
  packages/@config/rsbuild-config/webpack.common.ts
  packages/@config/rsbuild-config/webpack.dev.ts
  packages/@config/rsbuild-config/webpack.prod.ts
  packages/@config/webpack-config/package.json
  packages/@config/webpack-config/types.ts
  packages/shared/package.json
  packages/shared/rsbuild/rsbuild.config.ts
  packages/shared/src/components/Button/Button.tsx
  packages/shared/webpack/webpack.common.ts
  packages/shared/webpack/webpack.dev.ts
  packages/shared/webpack/webpack.prod.ts
  turbo.json
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --, echo 'Skipping Markdown files - no linting configured'

feat: migrate jest configuration to bun-test-config
  .vscode/settings.json
  apps/shell/jest.config.ts
  apps/shell/package.json
  bun.lock
  bunfig.toml
  packages/@config/bun-test-config/__mocks__/fileMock.js
  packages/@config/bun-test-config/__mocks__/styleMock.js
  packages/@config/bun-test-config/happydom.ts
  packages/@config/bun-test-config/index.ts
  packages/@config/bun-test-config/package.json
  packages/@config/bun-test-config/setup-tests.ts
  packages/@config/bun-test-config/testing-library.ts
  packages/@config/jest-config/setupTests.ts
  packages/@config/rspack-config/enums.ts
  packages/@config/rspack-config/module-federation.ts
  packages/@config/rspack-config/package.json
  packages/@config/rspack-config/rspack.common.ts
  packages/@config/rspack-config/rspack.dev.ts
  packages/@config/rspack-config/rspack.prod.ts
  packages/@config/rspack-config/types.ts
  packages/@config/tsconfig/tsconfig.json
  packages/shared/jest.config.ts
  packages/shared/package.json
  packages/shared/tsconfig.json
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --

feat: add comprehensive tests for Card, CardItemLabel, Icon, and Input components
  .vscode/settings.json
  apps/shell/package.json
  apps/shell/src/globals.d.ts
  bun.lock
  bunfig.toml
  packages/@config/bun-test-config/index.ts
  packages/@config/bun-test-config/setup-tests.ts
  packages/@config/bun-test-config/testing-library.ts
  packages/shared/bunfig.toml
  packages/shared/package.json
  packages/shared/src/components/Button/Button.test.tsx
  packages/shared/src/components/Card/Card.test.tsx
  packages/shared/src/components/CardItem/CardItemLabel.test.tsx
  packages/shared/src/components/Icon/Icon.test.tsx
  packages/shared/src/components/Input/Input.test.tsx
  packages/shared/src/components/InputWithLabel/InputWithLabel.css
  packages/shared/src/components/InputWithLabel/InputWithLabel.test.tsx
  packages/shared/src/components/InputWithLabel/InputWithLabel.tsx
  packages/shared/src/components/index.ts
  packages/shared/src/globals.d.ts
  packages/shared/src/utils/transformations/transformations.test.ts
  packages/shared/src/utils/transformations/transformations.ts
  packages/shared/test-setup.ts
  packages/shared/tsconfig.json
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --, echo 'Skipping CSS/HTML files - no linting configured'

feat: add file PersonalData/App.tsx
  apps/shell/src/components/PersonalData/App.tsx
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --

feat: add tests for CardAccordion and CardTabs components; implement cn utility tests
  packages/shared/bunfig.toml
  packages/shared/src/components/Card/Card.test.tsx
  packages/shared/src/components/Card/CardAccordion.test.tsx
  packages/shared/src/components/Card/CardTabs.test.tsx
  packages/shared/src/lib/utils.test.ts
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --

feat(PersonalData): update static data display and improve Card component styles
  apps/shell/src/components/PersonalData/App.tsx
  packages/shared/src/components/Card/Card.tsx
  packages/shared/src/components/ui/card.tsx
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --

refactor(tests): improve assertions and mock attributes in Card and CardTabs tests
  packages/shared/src/components/Card/Card.test.tsx
  packages/shared/src/components/Card/CardTabs.test.tsx
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --

feat(PersonalData): add PersonalData component with static data display
  apps/shell/src/pages/core/components/PersonalData/App.tsx
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --

feat(header-pages): initialize header pages app with routing and shared components
  apps/header-pages/README.md
  apps/header-pages/babel.config.js
  apps/header-pages/jest.config.ts
  apps/header-pages/package.json
  apps/header-pages/public/favicon.png
  apps/header-pages/public/index.html
  apps/header-pages/public/manifest.json
  apps/header-pages/src/App.tsx
  apps/header-pages/src/Vision360/pages/Vision360Page.tsx
  apps/header-pages/src/bootstrap.tsx
  apps/header-pages/src/components/Spinner/Spinner.tsx
  apps/header-pages/src/components/index.ts
  apps/header-pages/src/declarations.d.ts
  apps/header-pages/src/main.ts
  apps/header-pages/tsconfig.json
  apps/header-pages/webpack/webpack.common.ts
  apps/header-pages/webpack/webpack.dev.ts
  apps/header-pages/webpack/webpack.prod.ts
  apps/shell/src/Shell.tsx
  apps/shell/src/pages/Root/Root.tsx
  packages/@config/webpack-config/enums.ts
  packages/@config/webpack-config/module-federation.ts
  packages/@config/webpack-config/shared-components.d.ts
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --, echo 'Skipping CSS/HTML files - no linting configured', echo 'Skipping Markdown files - no linting configured'

[sc-63]: rspack migration (#12)
  .lintstagedrc.json
  .vscode/settings.json
  DEPLOYMENT.md
  apps/shell/package.json
  apps/shell/rsbuild/rsbuild.config.ts
  apps/shell/webpack/webpack.common.ts
  apps/shell/webpack/webpack.dev.ts
  apps/shell/webpack/webpack.prod.ts
  bun.lock
  millenium-bim-call-center.code-workspace
  package.json
  packages/@config/rsbuild-config/enums.ts
  packages/@config/rsbuild-config/index.ts
  packages/@config/rsbuild-config/module-federation.ts
  packages/@config/rsbuild-config/package.json
  packages/@config/rsbuild-config/plugins/google-fonts-plugin.ts
  packages/@config/rsbuild-config/rsbuild.common.ts
  packages/@config/rsbuild-config/rsbuild.dev.ts
  packages/@config/rsbuild-config/rsbuild.prod.ts
  packages/@config/rsbuild-config/shared-components.d.ts
  packages/@config/rsbuild-config/tsconfig.eslint.json
  packages/@config/rsbuild-config/tsconfig.json
  packages/@config/rsbuild-config/types.ts
  packages/@config/rsbuild-config/utils.ts
  packages/@config/rsbuild-config/webpack.common.ts
  packages/@config/rsbuild-config/webpack.dev.ts
  packages/@config/rsbuild-config/webpack.prod.ts
  packages/@config/webpack-config/package.json
  packages/@config/webpack-config/types.ts
  packages/shared/package.json
  packages/shared/rsbuild/rsbuild.config.ts
  packages/shared/src/components/Button/Button.tsx
  packages/shared/webpack/webpack.common.ts
  packages/shared/webpack/webpack.dev.ts
  packages/shared/webpack/webpack.prod.ts
  turbo.json
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --, echo 'Skipping Markdown files - no linting configured'

feat: refactor project to use RSPack for module federation and build configuration
  .vscode/settings.json
  apps/header-pages/package.json
  apps/header-pages/rspack/rspack.common.ts
  apps/header-pages/rspack/rspack.dev.ts
  apps/header-pages/rspack/rspack.prod.ts
  apps/header-pages/webpack/webpack.dev.ts
  apps/header-pages/webpack/webpack.prod.ts
  apps/shell/package.json
  apps/shell/rspack/rspack.common.ts
  apps/shell/rspack/rspack.dev.ts
  apps/shell/rspack/rspack.prod.ts
  apps/shell/webpack/webpack.dev.ts
  apps/shell/webpack/webpack.prod.ts
  bun.lock
  package.json
  packages/@config/rspack-config/enums.ts
  packages/@config/rspack-config/module-federation.ts
  packages/@config/rspack-config/package.json
  packages/@config/rspack-config/plugins/google-fonts-plugin.ts
  packages/@config/rspack-config/rspack.common.ts
  packages/@config/rspack-config/rspack.dev.ts
  packages/@config/rspack-config/rspack.prod.ts
  packages/@config/rspack-config/shared-components.d.ts
  packages/@config/rspack-config/tsconfig.eslint.json
  packages/@config/rspack-config/tsconfig.json
  packages/@config/rspack-config/types.ts
  packages/@config/rspack-config/utils.ts
  packages/@config/webpack-config/webpack.common.ts
  packages/shared/package.json
  packages/shared/rspack/rspack.common.ts
  packages/shared/rspack/rspack.dev.ts
  packages/shared/rspack/rspack.prod.ts
  packages/shared/webpack/webpack.common.ts
  packages/shared/webpack/webpack.dev.ts
  packages/shared/webpack/webpack.prod.ts
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --

fix(package): update preview script to use --force flag and bump serve dependency version
  package.json
  turbo.json
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --

fix(package): update serve and compression dependencies to latest versions
  bun.lock
Due: none

fix(Card): adjust padding and spacing in Card component styles
  packages/shared/src/components/Card/Card.tsx
  packages/shared/src/components/ui/card.tsx
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --

feat(PersonalData): add PersonalData component
  apps/header-pages/src/Vision360/pages/Vision360Page.tsx
  apps/header-pages/src/components/PersonalData/PersonalData.tsx
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --

feat: add typecheck task to turbo.json with dependencies
  .github/workflows/ci.yml
  apps/header-pages/package.json
  apps/header-pages/tsconfig.json
  apps/header-pages/tsconfig.tsbuildinfo
  apps/shell/package.json
  apps/shell/src/declarations.d.ts
  apps/shell/tsconfig.json
  apps/shell/tsconfig.tsbuildinfo
  package.json
  packages/shared/package.json
  packages/shared/src/components/Button/Button.tsx
  packages/shared/tsconfig.json
  packages/shared/types/tsconfig.tsbuildinfo
  turbo.json
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --

chore: remove CI workflow configuration file
  .github/workflows/ci.yml
Due: none

chore(tsconfig): fix interfaces and types
  .vscode/settings.json
  apps/header-pages/src/declarations.d.ts
  apps/header-pages/tsconfig.json
  apps/header-pages/tsconfig.tsbuildinfo
  apps/shell/src/declarations.d.ts
  apps/shell/src/layouts/DashboardLayout.tsx
  apps/shell/tsconfig.json
  apps/shell/tsconfig.tsbuildinfo
  packages/shared/src/components/Card/CardAccordion.tsx
  packages/shared/src/components/Card/CardTabs.tsx
  packages/shared/src/components/CardItem/CardItemLabel.tsx
  packages/shared/src/components/Input/Input.tsx
  packages/shared/src/components/ui/dialog.tsx
  packages/shared/src/components/ui/sheet.tsx
  packages/shared/types/tsconfig.tsbuildinfo
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --

feat(PersonalData): replace hardcoded data with mock-data from JSON
  apps/header-pages/src/components/PersonalData/PersonalData.tsx
  apps/header-pages/src/components/PersonalData/mock-data/mock-data.json
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --

[sc-70] fix the type generation (#20)
  .vscode/settings.json
  apps/header-pages/src/declarations.d.ts
  apps/header-pages/tsconfig.json
  apps/header-pages/tsconfig.tsbuildinfo
  apps/shell/src/declarations.d.ts
  apps/shell/src/layouts/DashboardLayout.tsx
  apps/shell/tsconfig.json
  apps/shell/tsconfig.tsbuildinfo
  packages/shared/src/components/Card/CardAccordion.tsx
  packages/shared/src/components/Card/CardTabs.tsx
  packages/shared/src/components/CardItem/CardItemLabel.tsx
  packages/shared/src/components/Input/Input.tsx
  packages/shared/src/components/ui/dialog.tsx
  packages/shared/src/components/ui/sheet.tsx
  packages/shared/types/tsconfig.tsbuildinfo
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --

refactor: update testing setup for Bun compatibility
  apps/header-pages/jest.config.ts
  apps/header-pages/package.json
  apps/shell/src/Shell.test.tsx
  bun.lock
  packages/@config/bun-test-config/setup-tests.ts
  packages/@config/bun-test-config/testing-library.ts
  packages/shared/src/components/CardItem/CardItemLabel.test.tsx
  packages/shared/src/components/Icon/Icon.test.tsx
  packages/shared/src/components/Input/Input.test.tsx
  packages/shared/src/index.ts
  packages/shared/src/styles/GlobalStyles.test.tsx
  packages/shared/src/utils/api/api.ts
  packages/shared/src/utils/index.ts
  packages/shared/test-setup.ts
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --

fix: update configuration files for improved formatting and plugin integration
  biome.json
  packages/shared/postcss.config.js
  packages/shared/src/styles/globals.css
  packages/shared/tailwind.config.js
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --, echo 'Skipping CSS/HTML files - no linting configured'

feat(tailwindCSS): add new class regex and enable emmet completions
  .vscode/settings.json
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --

fix: update configuration files for improved formatting and plugin integration
  apps/header-pages/src/25158c9fd72cbcc83ad076388f37a8e87c0b6e90.patch
  apps/header-pages/src/Vision360/pages/Vision360Page.tsx
  apps/header-pages/src/components/Cards/EstateAndProducts/EstateAndProducts.tsx
  apps/header-pages/src/components/Cards/EstateAndProducts/mock-data/mock-data.json
  apps/header-pages/src/components/Cards/EstateAndProducts/types.ts
  bun.lock
  packages/shared/tailwind.config.js
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --

fix: update configuration files for improved formatting and plugin integration
  apps/header-pages/src/25158c9fd72cbcc83ad076388f37a8e87c0b6e90.patch
  biome.json
  packages/shared/postcss.config.js
  packages/shared/src/styles/globals.css
  packages/shared/tailwind.config.js
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --, echo 'Skipping CSS/HTML files - no linting configured'

feat(tests): add Channels and Services and state tests
  apps/header-pages/package.json
  apps/header-pages/src/Vision360/components/ChannelsAndServices/ChannelsAndServices.test.tsx
  apps/header-pages/src/Vision360/components/ChannelsAndServices/ChannelsAndServices.tsx
  apps/header-pages/src/Vision360/components/ChannelsAndServices/components/State.test.tsx
  apps/header-pages/tsconfig.json
  bun.lock
  packages/@config/jest-config/index.ts
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --

feat(header-pages): wrap App component with BrowserRouter
  apps/header-pages/src/bootstrap.tsx
  packages/@config/rspack-config/module-federation.ts
  packages/shared/rspack/rspack.common.ts
  packages/shared/src/main.ts
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --

feat: add rsdoctor script and integrate RsdoctorRspackPlugin
  .vscode/settings.json
  apps/header-pages/package.json
  apps/header-pages/rspack/rspack.common.ts
  apps/shell/package.json
  apps/shell/rspack/rspack.common.ts
  apps/shell/rspack/rspack.prod.ts
  bun.lock
  package.json
  packages/@config/rspack-config/package.json
  packages/@config/rspack-config/rspack.common.ts
  packages/@config/rspack-config/types.ts
  packages/shared/package.json
  packages/shared/rspack/rspack.common.ts
  turbo.json
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --

feat(module-federation): update rspack configuration
  apps/header-pages/rspack/rspack.common.ts
  apps/header-pages/rspack/rspack.prod.ts
  apps/header-pages/tsconfig.tsbuildinfo
  apps/shell/rspack/rspack.common.ts
  apps/shell/rspack/rspack.prod.ts
  apps/shell/src/bootstrap.tsx
  apps/shell/src/main.ts
  packages/@config/rspack-config/rspack.prod.ts
  packages/shared/rspack/rspack.common.ts
  packages/shared/rspack/rspack.prod.ts
  packages/shared/src/bootstrap.tsx
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --

fix(shared): update comments in main.ts for clarity on standalone usage
  package.json
  packages/shared/src/main.ts
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --

refactor(buntest): testing library setup for Bun compatibility
  .vscode/settings.json
  apps/header-pages/bunfig.toml
  apps/header-pages/package.json
  apps/header-pages/src/App.test.tsx
  apps/header-pages/src/Vision360/pages/Vision360Page.test.tsx
  apps/header-pages/tsconfig.json
  apps/shell/bunfig.toml
  apps/shell/package.json
  apps/shell/src/Shell.test.tsx
  bunfig.toml
  packages/@config/bun-test-config/happydom.ts
  packages/@config/bun-test-config/index.ts
  packages/@config/bun-test-config/setup-tests.ts
  packages/@config/bun-test-config/testing-library.ts
  packages/shared/src/assets/icons/ComplainsIcon.tsx
  packages/shared/src/assets/icons/ConfigIcon.tsx
  packages/shared/src/assets/icons/DocumentLayoutIcon.tsx
  packages/shared/src/assets/icons/ExclamationIcon.tsx
  packages/shared/src/assets/icons/FilesIcon.tsx
  packages/shared/src/assets/icons/Graph2Icon.tsx
  packages/shared/src/assets/icons/HomeIcon.tsx
  packages/shared/src/assets/icons/InfoIcon.tsx
  packages/shared/src/assets/icons/LocationIcon.tsx
  packages/shared/src/assets/icons/MakePhoneCallIcon.tsx
  packages/shared/src/assets/icons/PackageWarningIcon.tsx
  packages/shared/src/assets/icons/PersonalQuestionIcon.tsx
  packages/shared/src/assets/icons/RegisterIcon.tsx
  packages/shared/test-setup.ts
  turbo.json
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --

refactor(tests): update test scripts for Bun compatibility
  apps/header-pages/package.json
  apps/shell/package.json
  apps/shell/src/components/Spinner/Spinner.test.tsx
  apps/shell/src/layouts/DashboardLayout.test.tsx
  apps/shell/src/pages/Root/Root.test.tsx
Due: bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --

Path conditions:
  bash -c 'files="$@"; echo "$files" | tr " " "\n" | grep -vE "(src/assets/icons|src/components/ui)" | tr "\n" " " | xargs -r biome check --write' --: any of: **/*.{js,jsx,ts,tsx,json,jsonc}
  echo 'Skipping CSS/HTML files - no linting configured': any of: **/*.{css,scss,html}
  echo 'Skipping Markdown files - no linting configured': any of: **/*.{md,mdx}
